

/*the top par or rather the logo*/
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 10px;
    margin: 0.5rem -10rem;
}

/*the images, at the top*/
.images > img {
    width: 250px;
    height: 200px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*the Ramen display part of the page*/
#deet-image {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    height: 100%;
    margin-top: 20px;
    object-fit: cover
}

#deet-image img {
    position: relative;
    max-width: 100%;
    width: 500px;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

#deet-text {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 58%;
    left: 37%;
    object-fit: cover;
    max-width: 90;
}

#deet-text h4 {
    background-color: #e9e4e4;
    padding: 5px;
}

#deet-text p {
    background-color: #e9e4e4;
    padding: 5px;
}



/*rating part and comment part of the page*/
#deet-text h4 {
}  

#deet-text p {
    margin-top: -5px;
}

#deet-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
}

#deet-rating p {
    margin-top: -15px;
}

#deet-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
}

#deet-comment p {
    margin-top: -20px;
}

/*add new ramen button*/
#addramenbtn {
    background-color: #000000;
    color: white; 
    border: 1px solid #ccc;
    padding: 0.7rem 4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    /*trying to force centre the add-ramen button*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
}

#addramenbtn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid #000000;
}


/*adding ramen and creating ramen form*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.form label {
    text-align: left;
    width: 100%;
    max-width: 300px;
}

.form input, 
.form button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 1rem;
}

.form button {
    background-color: #000000;
    border: #ff0000;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 0.7rem 4rem;
}

.form button:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid #000000;
}
